{% extends 'main/base.html' %}

{% block content %}

<main>
    <div class="row px-5 row-cols-1 row-cols-md-3 mb-4 text-center">
        {% for object in object_list %}
        <div class="col-6">
            <div class="card mb-2 rounded-3 shadow-sm border-dark">
                <div class="card-header py-3 text-white bg-dark border-dark">
                    <h6 class="my-0 fw-normal fs-5 text text-truncate">Пользователь </h6>
                </div>
                <div class="card-body">
                    <h6 class="card-title fs-5 pricing-card-title">Логин: {{ object.email }}</h6>
                    <div class="mb-3">

                        {% if object.is_active %}
                        <a href="{% url 'users:user_activity' object.pk %}"
                           class="btn btn-outline-dark">Деактивировать</a>
                        {% else %}
                        <a href="{% url 'users:user_activity' object.pk %}"
                           class="btn btn-dark">Активировать</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}